.banner{
  display: flex;
  justify-content: center;

}
.banner-container {
  display: flex;
  justify-content: space-between;  
  align-items: center;
  background-color: rgba(203, 224, 230, 0.368);/* Reduced margin */
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  height: 300px; /* Reduced height */
  width: 85%;
  padding-left: 180px;
}

.banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  color: #fff;
}

.banner-img {
  top: -20px; /* Adjusted position */
  height: 340px; /* Reduced height */
  position: relative;
  overflow: hidden;
}