

#details{
      padding: 10px 20px;
    margin: auto;
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#reviews{
    padding: 10px 20px;
    margin-top: 10px;
}

.review-card{
    margin-top: 10px;
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

